<!DOCTYPE html>
<html lang="en">
    <head><title>Home</title>
        
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <script src="https://cdn.tailwindcss.com"></script>
          <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
       
        </head>
<body>
    <!-- Hero -->
    <div class="bg-white py-6 sm:py-8 lg:py-12">
        <div class="mx-auto max-w-screen-xl px-4 md:px-8">
          <!-- text - start -->
          <div class="mb-10 md:mb-16">
            <h2 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-6 lg:text-3xl">News Vibe</h2>
      
            <p class="mx-auto max-w-screen-md text-center text-gray-500 md:text-lg">Here you can Read news analysis and get to know how much clickbait they have and thier overall analysis. </p>
          </div>
          <!-- text - end -->
      
          <div class="grid gap-8 sm:grid-cols-2 sm:gap-12 lg:grid-cols-2 xl:grid-cols-2 xl:gap-16">
            <!-- article - start -->
            {% for i in n %}
            <a href="{% url 'news' pk=i.id %}" class="group relative flex h-48 flex-col overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-64 xl:h-96">
              <img src="{{i.thumbnail_link}}" loading="lazy" alt="Photo by Minh Pham" class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />
              <div class="absolute inset-0 opacity-0 bg-black group-hover:opacity-50 transition duration-200"></div>
              <div class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 to-transparent md:via-transparent"></div>
      
              <div class="relative mt-auto p-4">
                <span class="block text-sm text-gray-200">{{i.datetime}}</span>
                <h2 class="mb-2 text-xl font-semibold text-white transition duration-100">{{i.title}}</h2>
      
                {% comment %} <span class="font-semibold text-indigo-300">Read more</span> {% endcomment %}
              </div>
            </a>
            {% endfor %}
            <!-- article - end -->
            <!-- ... -->

</div>
<br>
<!-- ... -->
<div class="flex justify-between px-9 sm:px-8 md:px-16 lg:px-1">
  <div>
      {% if n.has_previous %}
          <a href="?page={{ n.previous_page_number }}" class="inline-block px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700 transition duration-200">Previous</a>
      {% else %}
          <span class="inline-block px-4 py-2 bg-gray-200 text-gray-500 rounded cursor-not-allowed">Previous</span>
      {% endif %}
  </div>
  <div>
      {% if n.has_next %}
          <a href="?page={{ n.next_page_number }}" class="inline-block px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700 transition duration-200">Next</a>
      {% else %}
          <span class="inline-block px-4 py-2 bg-gray-200 text-gray-500 rounded cursor-not-allowed">Next</span>
      {% endif %}
  </div> 
            
          </div>
        </div>
      </div>
      
</body>
</html>